.routeInfos {
	-fx-font-size: 12;
}

#arrow {
	-fx-text-fill: white;
	-fx-font-size: 12;
}

.button {
	-fx-control-inner-background: #4E5357;
	-fx-background-color: #4E5357;
	-fx-background-radius: 10;
	-fx-text-fill: white;
}

#start {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#destination {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}
